.ui-tooltip-container {
    background-color: #fff;
    border-radius: var(--ui-radius);
    white-space: nowrap;
    transition: opacity 0.2s;
    box-shadow: var(--ui-box-shadow);
    position: absolute;
    padding: calc(var(--ui-spacing) / 2) var(--ui-spacing);
    border: 1px solid var(--ui-box-border);
    inset: 0 auto auto 0;
    &.v-enter-from,
    &.v-leave-to {
        opacity: 0;
    }

    &.v-enter-to,
    &.v-leave-from {
        opacity: 1;
    }

    .ui-tooltip-triangle {
        position: absolute;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent #fff;
    }
}

.ui-tooltip {
    vertical-align: top;
    display: inline-block;
}
