//* 表单控制层样式
.ui-form-control {
    background-color: var(--uioption-form-background-color);
    border-radius: var(--uioption-form-radius);
    transition: all 0.3s;
    font-size: var(--uioption-form-font-size);
    position: relative;
    padding: 0 var(--uioption-form-spacing-x);
    border: 1px solid var(--uioption-form-color);
    height: var(--uisize-size);
    width: 100%;
    color: var(--uioption-form-font-color);

    &:hover,
    &:focus {
        border-color: var(--uioption-form-active-color);
    }

    &::placeholder {
        color: var(--uioption-form-placeholder-color);
    }

    &:focus::placeholder {
        color: transparent;
    }

    &.ui-clearable {
        padding: 0 32px 0 var(--uioption-form-spacing-x);
    }
}

//* 表单清空按钮样式
.ui-form-clearable {
    transition: all 0.3s;
    transform: translate(0, -50%);
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    color: var(--uioption-form-font-color);
    right: 4px;
    top: 50%;
    &:hover {
        color: var(--uioption-form-active-font-color);
    }
}

// 表单候选项样式
.ui-form-candidates {
    background-color: var(--uioption-form-candidate-background-color);
    transform-origin: center top;
    border-radius: var(--uioption-form-radius);
    transition: opacity 0.2s, transform 0.3s;
    box-shadow: var(--uioption-form-candidate-box-shadow);
    position: absolute;
    &.v-enter-from,
    &.v-leave-to {
        opacity: 0;
        transform: scaleY(0);
    }

    &.v-enter-to,
    &.v-leave-from {
        opacity: 1;
        transform: scaleY(1);
    }

    > .ui-form-candidates-triangle {
        position: absolute;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent var(--uioption-form-candidate-background-color);
    }

    > .ui-form-candidate-container {
        > .ui-form-candidate {
            cursor: pointer;
            height: var(--uisize-size);
            padding: 0 var(--uioption-form-candidate-spacing-x);
            transition: all 0.3s;
            white-space: nowrap;
            line-height: var(--uisize-size);
            &:hover,
            &.ui-active {
                background: var(--uioption-form-candidate-active-background-color);
                color: var(--uioption-form-candidate-active-color);
            }

            &:last-child {
                border-radius: 0 0 var(--uioption-form-radius) var(--uioption-form-radius);
            }

            &:first-child {
                border-radius: var(--uioption-form-radius) var(--uioption-form-radius) 0 0;
            }
        }
    }
}
