//* css变量
.ui-message {
    --uioption-message-radius: var(--uisize-radius); // 默认圆角
    --uioption-message-spacing-x: var(--uisize-spacing-x); // 默认水平内间距
    --uioption-message-spacing-y: calc(var(--uisize-spacing-y) / 2); // 默认水平内间距
    --uioption-message-icon-color: var(--uicolor-main-color); // 默认消息提示组件图标颜色
    --uioption-message-box-shadow: var(--uicolor-box-shadow); // 消息提示组件阴影效果
    --uioption-message-background-color: var(--uicolor-main-color-005); // 默认消息提示组件背景颜色
}

//* 组件样式
.ui-message {
    display: flex;
    padding: var(--uioption-message-spacing-y) var(--uioption-message-spacing-x);
    transition: all 0.3s;
    box-shadow: var(--uioption-message-box-shadow);
    align-items: center;
    border-radius: var(--uioption-message-radius);
    background-color: var(--uioption-message-background-color);
    .ui-message-icon {
        color: #fff;
        font-size: 20px;
        margin-right: 8px;
        border-radius: 50%;
        background-color: var(--uioption-message-icon-color);
    }

    &.v-enter-from,
    &.v-leave-to {
        opacity: 0;
        transform: translateY(0) !important;
    }

    &.v-enter-to,
    &.v-leave-from {
        opacity: 1;
    }
}

@import "./message.type.less";
