.ui-button {
    display: inline-block;
    overflow: hidden;
    border-radius: var(--ui-radius);
    vertical-align: top;
    button {
        color: var(--uis-color-1);
        cursor: pointer;
        border: 1px solid var(--ui-color-7);
        height: var(--ui-size);
        display: flex;
        padding: 0 var(--ui-spacing);
        font-size: var(--ui-font-size);
        align-items: center;
        justify-content: center;
        border-radius: var(--ui-radius);
        background-color: var(--ui-color-7);
    }

    .ui-mask {
        font-size: 24px;
    }
}
