.ui-button {
    display: inline-block;
    border-radius: var(--ui-radius);
    vertical-align: top;
    button {
        color: var(--uis-color-1);
        cursor: pointer;
        border: 1px solid var(--ui-color-7);
        height: var(--ui-size);
        display: flex;
        padding: 0 var(--ui-spacing);
        font-size: var(--ui-font-size);
        min-width: var(--ui-button-size);
        transition: all 0.2s;
        align-items: center;
        justify-content: center;
        border-radius: var(--ui-radius);
        background-color: var(--ui-color-7);
    }

    .ui-mask {
        font-size: 24px;
    }

    &.ui-button-disabled {
        .ui-mash-icon {
            display: none;
        }
    }

    &.ui-button-pierced {
        button {
            color: var(--uis-color-9);
            background: var(--uis-color-1);
            border-color: var(--uis-color-4);
            &:hover {
                color: var(--ui-color-7);
                border-color: var(--ui-color-7);
            }
        }

        .ui-mask {
            background: transparent;
        }

        &.ui-button-disabled,
        &.ui-button-loading {
            button {
                color: var(--uis-color-4);
                background: var(--uis-color-2);
                border-color: var(--uis-color-2);
            }
        }
    }
}
