.ui-input {
    width: 264px;
    display: inline-block;
    position: relative;
    //* 调整loading尺寸
    .ui-mask {
        font-size: 20px;
    }

    //* 提示文案调整
    .ui-form-control {
        &::placeholder {
            color: var(--uioption-form-placeholder-color);
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}

//* 可清空状态
.ui-input.ui-clearable {
    .ui-form-control {
        padding: 0 32px 0 var(--uioption-form-spacing-x);
    }
}

//* 禁用状态
.ui-input.ui-disabled-status {
    .ui-form-control {
        cursor: auto;
    }
}

//* 只读状态
.ui-input.ui-readonly-status {
    .ui-form-control {
        &:focus::placeholder {
            color: var(--uioption-form-placeholder-color);
        }
    }
}
