//* css变量
.ui-carousel {
    // 轮播图组件配置
    --uioption-carousel-indicator-color: var(--uicolor-font-2); // 默认轮播图指示器颜色
    --uioption-carousel-control-icon-color: var(--uicolor-font-6); // 默认轮播图控制器图标颜色
    --uioption-carousel-control-border-color: var(--uicolor-font-6); // 默认轮播图控制器边框颜色
    --uioption-carousel-control-background-color: var(--uicolor-font-6-03); // 默认轮播图控制器背景颜色

    // 轮播图组件激活配置
    --uioption-carousel-indicator-active-color: var(--uicolor-main-color); // 默认轮播图指示器颜色
    --uioption-carousel-control-active-icon-color: var(--uicolor-main-color); // 默认轮播图控制器图标颜色
    --uioption-carousel-control-active-border-color: var(--uicolor-font-6); // 默认轮播图控制器边框颜色
    --uioption-carousel-control-active-background-color: var(--uicolor-font-6); // 默认轮播图控制器背景颜色
}

//* 轮播图公共样式
.ui-carousel {
    position: relative;
    > .ui-carousel-control {
        justify-content: center;
        border-radius: 50%;
        align-items: center;
        background: var(--uioption-carousel-control-background-color);
        transition: all 0.3s ease-in-out;
        transform: translate(0, -50%);
        font-size: 20px;
        position: absolute;
        display: flex;
        opacity: 0;
        border: 1px solid var(--uioption-carousel-control-border-color);
        cursor: pointer;
        height: 48px;
        color: var(--uioption-carousel-control-icon-color);
        width: 48px;

        &.ui-carousel-left-control {
            inset: 50% auto auto 0;

            .ui-icon {
                transform: rotate(90deg);
            }
        }

        &.ui-carousel-right-control {
            inset: 50% 0 auto auto;

            .ui-icon {
                transform: rotate(-90deg);
            }
        }
    }

    > .ui-carousel-schedules {
        align-items: center;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        inset: auto auto 20px 50%;

        .ui-carousel-schedule {
            width: 4px;
            height: 5px;
            margin: 0 16px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border-radius: 9999px;
            background-color: var(--uioption-carousel-indicator-color);
        }

        .ui-carousel-schedule.active {
            width: 72px;
            background-color: var(--uioption-carousel-indicator-active-color);
        }
    }

    > .ui-carousel-main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        > .ui-carousel-container {
            width: 100%;
            height: 100%;
            position: relative;
            > * {
                inset: 0 auto auto 100%;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: none !important;
            }
        }
    }
}

@import "./carousel.type.less";
