:root {
  --uicolor-main-color: #5449db;
  --uicolor-main-color-05: #a9a4ed;
  --uicolor-main-color-005: #f6f6fd;
  --uicolor-main-active-color: #5364e6;
  --uicolor-font-1: #404040;
  --uicolor-font-2: #848484;
  --uicolor-font-3: #999999;
  --uicolor-font-4: #c7c7c7;
  --uicolor-font-4-02: #f4f4f4;
  --uicolor-font-5: #f8f8f8;
  --uicolor-font-6: #ffffff;
  --uicolor-font-6-03: rgba(255, 255, 255, 0.3);
  --uicolor-error: #cf2424;
  --uicolor-error-05: #e79191;
  --uicolor-error-005: #fdf4f4;
  --uicolor-error-active: #d13e3e;
  --uicolor-success: #00b137;
  --uicolor-success-05: #7fd89b;
  --uicolor-success-005: #f2fbf5;
  --uicolor-success-active: #13b345;
  --uicolor-warning: #ff9c00;
  --uicolor-warning-05: #ffcd7f;
  --uicolor-warning-005: #fffaf2;
  --uicolor-warning-active: #faa51c;
  --uicolor-mask: rgba(255, 255, 255, 0.8);
  --uicolor-full-mask: rgba(0, 0, 0, 0.45);
  --uicolor-box-shadow: 0px 4px 8px 0px rgba(105, 1, 98, 0.05);
}
:root {
  --uisize-font-height: 22px;
  --uisize-font-size: 14px;
  --uisize-model-spacing-x: 112px;
  --uisize-model-spacing-y: 68px;
  --uisize-spacing-x: 16px;
  --uisize-spacing-y: 16px;
  --uisize-radius: 4px;
  --uisize-size: 40px;
}
:root {
  --uioption-font-active-color: var(--uicolor-main-color);
  --uioption-font-color: var(--uicolor-font-2);
  --uioption-form-color: var(--uicolor-font-4);
  --uioption-form-radius: var(--uisize-radius);
  --uioption-form-spacing-x: var(--uisize-spacing-x);
  --uioption-form-font-size: var(--uisize-font-size);
  --uioption-form-font-color: var(--uioption-font-color);
  --uioption-form-message-color: var(--uicolor-font-2);
  --uioption-form-candidate-color: var(--uicolor-font-2);
  --uioption-form-background-color: var(--uicolor-font-6);
  --uioption-form-placeholder-color: var(--uicolor-font-3);
  --uioption-form-candidate-spacing-x: var(--uisize-spacing-x);
  --uioption-form-candidate-box-shadow: var(--uicolor-box-shadow);
  --uioption-form-candidate-background-color: var(--uicolor-font-6);
  --uioption-form-active-color: var(--uicolor-main-color);
  --uioption-form-active-font-color: var(--uioption-font-active-color);
  --uioption-form-candidate-active-color: var(--uicolor-main-active-color);
  --uioption-form-candidate-active-background-color: var(--uicolor-main-color-005);
  --uioption-scrollbar-color: var(--uicolor-font-4);
  --uioption-scrollbar-active-color: var(--uicolor-font-3);
  --uioption-scrollbar-background-color: var(--uicolor-font-4-02);
}
:root .ui-middle {
  --uisize-size: 48px;
}
:root .ui-large {
  --uisize-size: 56px;
}
:root .ui-small {
  --uisize-size: 32px;
  --uisize-font-size: 12px;
}
:root .ui-error-type {
  --uioption-form-message-color: var(--uicolor-error);
  --uioption-form-active-color: var(--uicolor-error-active);
  --uioption-form-color: var(--uicolor-error);
}
:root .ui-warning-type {
  --uioption-form-message-color: var(--uicolor-warning);
  --uioption-form-active-color: var(--uicolor-warning-active);
  --uioption-form-color: var(--uicolor-warning);
}
:root .ui-success-type {
  --uioption-form-message-color: var(--uicolor-success);
  --uioption-form-active-color: var(--uicolor-success-active);
  --uioption-form-color: var(--uicolor-success);
}
:root .ui-disabled-status {
  --uioption-form-color: var(--uicolor-font-4-02);
  --uioption-form-active-color: var(--uicolor-font-4-02);
  --uioption-form-background-color: var(--uicolor-font-4-02);
}
:root .ui-readonly-status {
  --uioption-form-color: var(--uicolor-font-4-02);
  --uioption-form-active-color: var(--uicolor-font-4-02);
  --uioption-form-background-color: var(--uicolor-font-4-02);
}
* {
  box-sizing: border-box;
}
body {
  color: var(--uioption-font-color);
  font-size: var(--uisize-font-size);
  font-family: default sans-serif;
  line-height: var(--uisize-font-height);
  margin: 0;
}
a {
  color: inherit;
  transition: all 0.2s;
  font-family: inherit;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: var(--uioption-font-active-color);
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0;
}
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
b,
strong {
  font-weight: bolder;
}
pre,
kbd,
code,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  display: block;
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  line-height: var(--uisize-font-height);
  background: none;
  font-size: 1em;
  outline: none;
  margin: 0;
  border: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  /* 2 */
  appearance: textfield;
  -moz-appearance: textfield;
  /* Firefox */
  -webkit-appearance: textfield;
  /* Safari and Chrome */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@keyframes uiRotateAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#ui-windows {
  inset: 0 auto auto 0;
  width: 100%;
  z-index: 66;
  position: absolute;
}
#ui-modals {
  inset: 0 auto auto 0;
  width: 100%;
  z-index: 666;
  position: absolute;
}
#ui-messages {
  inset: 0 auto auto 0;
  width: 100%;
  z-index: 6666;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.ui-relative {
  position: relative;
}
.ui-form-control {
  background-color: var(--uioption-form-background-color);
  border-radius: var(--uioption-form-radius);
  transition: all 0.3s;
  font-size: var(--uioption-form-font-size);
  position: relative;
  padding: 0 var(--uioption-form-spacing-x);
  border: 1px solid var(--uioption-form-color);
  height: var(--uisize-size);
  width: 100%;
  color: var(--uioption-form-font-color);
}
.ui-form-control:hover,
.ui-form-control:focus {
  border-color: var(--uioption-form-active-color);
}
.ui-form-clearable {
  transition: all 0.3s;
  transform: translate(0, -50%);
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  color: var(--uioption-form-font-color);
  inset: 50% var(--uioption-form-spacing-x) auto auto;
}
.ui-form-clearable:hover {
  color: var(--uioption-form-active-font-color);
}
.ui-form-candidates {
  background-color: var(--uioption-form-candidate-background-color);
  transform-origin: center top;
  border-radius: var(--uioption-form-radius);
  transition: opacity 0.2s, transform 0.3s;
  box-shadow: var(--uioption-form-candidate-box-shadow);
  position: absolute;
}
.ui-form-candidates.v-enter-from,
.ui-form-candidates.v-leave-to {
  opacity: 0;
  transform: scale(0);
}
.ui-form-candidates.v-enter-to,
.ui-form-candidates.v-leave-from {
  opacity: 1;
  transform: scale(1);
}
.ui-form-candidates > .ui-form-candidates-triangle {
  position: absolute;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent var(--uioption-form-candidate-background-color);
}
.ui-form-candidates > .ui-form-candidate-container > .ui-form-candidate {
  cursor: pointer;
  height: var(--uisize-size);
  padding: 0 var(--uioption-form-candidate-spacing-x);
  transition: all 0.3s;
  white-space: nowrap;
  line-height: var(--uisize-size);
}
.ui-form-candidates > .ui-form-candidate-container > .ui-form-candidate:hover,
.ui-form-candidates > .ui-form-candidate-container > .ui-form-candidate.ui-active {
  background: var(--uioption-form-candidate-active-background-color);
  color: var(--uioption-form-candidate-active-color);
}
.ui-form-candidates > .ui-form-candidate-container > .ui-form-candidate:last-child {
  border-radius: 0 0 var(--uioption-form-radius) var(--uioption-form-radius);
}
.ui-form-candidates > .ui-form-candidate-container > .ui-form-candidate:first-child {
  border-radius: var(--uioption-form-radius) var(--uioption-form-radius) 0 0;
}
.ui-mask {
  background-color: var(--uicolor-mask);
  justify-content: center;
  border-radius: var(--uisize-radius);
  align-items: center;
  transition: all 0.3s;
  position: absolute;
  z-index: 6666;
  display: flex;
  inset: 0 0 0 0;
}
.ui-mask .ui-mask-icon {
  animation: uiRotateAnimation 1s linear infinite;
}
.ui-mask .ui-mask-context {
  margin-top: 4px;
}
.ui-mask.v-enter-from,
.ui-mask.v-leave-to {
  opacity: 0;
}
.ui-mask.v-enter-to,
.ui-mask.v-leave-from {
  opacity: 1;
}
.ui-scrollbar-container {
  position: absolute;
  border-radius: 9999px;
  background-color: var(--uioption-scrollbar-background-color);
}
.ui-scrollbar-container .ui-scrollbar-bar {
  cursor: pointer;
  transition: all 0.3s;
  background: var(--uioption-scrollbar-color);
  border-radius: 9999px;
}
.ui-scrollbar-container .ui-scrollbar-bar:hover {
  background: var(--uioption-scrollbar-active-color);
}
.ui-scrollbar-container.ui-scrollbar-level {
  inset: auto 0 0 0;
  height: 6px;
}
.ui-scrollbar-container.ui-scrollbar-level .ui-scrollbar-bar {
  height: 100%;
}
.ui-scrollbar-container.ui-scrollbar-vertical {
  inset: 0 0 0 auto;
  width: 6px;
}
.ui-scrollbar-container.ui-scrollbar-vertical .ui-scrollbar-bar {
  width: 100%;
}
.ui-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.ui-button {
  --uioption-button-size: var(--uisize-size);
  --uioption-button-width: auto;
  --uioption-button-color: var(--uicolor-main-color);
  --uioption-button-radius: var(--uisize-radius);
  --uioption-button-spacing-x: var(--uisize-spacing-x);
  --uioption-button-font-color: var(--uicolor-font-6);
  --uioption-button-active-color: var(--uicolor-main-active-color);
  --uioption-button-disabled-color: var(--uicolor-main-color-05);
  --uioption-button-readonly-color: var(--uicolor-font-4-02);
}
.ui-button {
  display: inline-block;
  position: relative;
  border-radius: var(--uioption-button-radius);
  vertical-align: top;
}
.ui-button .ui-button-main {
  color: var(--uioption-button-font-color);
  cursor: pointer;
  border: 1px solid var(--uioption-button-color);
  height: var(--uioption-button-size);
  display: flex;
  padding: 0 var(--uioption-button-spacing-x);
  font-size: var(--uisize-font-size);
  min-width: var(--uioption-button-width);
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
  border-radius: var(--uioption-button-radius);
  background-color: var(--uioption-button-color);
}
.ui-button .ui-button-main:hover {
  background-color: var(--uioption-button-active-color);
}
.ui-button .ui-mask {
  font-size: 24px;
}
.ui-button.ui-button-simple .ui-button-main {
  background-color: #fff;
  color: var(--uioption-button-color);
}
.ui-button.ui-button-simple .ui-button-main:hover,
.ui-button.ui-button-simple .ui-button-main:focus {
  background-color: var(--uioption-button-color);
  color: var(--uioption-button-font-color);
}
.ui-button.ui-middle {
  --uioption-button-width: 128px;
}
.ui-button.ui-large {
  --uioption-button-width: 152px;
}
.ui-button.ui-error-type {
  --uioption-button-color: var(--uicolor-error);
  --uioption-button-active-color: var(--uicolor-error-active);
  --uioption-button-disabled-color: var(--uicolor-error-05);
}
.ui-button.ui-warning-type {
  --uioption-button-color: var(--uicolor-warning);
  --uioption-button-active-color: var(--uicolor-warning-active);
  --uioption-button-disabled-color: var(--uicolor-warning-05);
}
.ui-button.ui-success-type {
  --uioption-button-color: var(--uicolor-success);
  --uioption-button-active-color: var(--uicolor-success-active);
  --uioption-button-disabled-color: var(--uicolor-success-05);
}
.ui-button.ui-disabled-status {
  --uioption-button-color: var(--uioption-button-disabled-color);
  --uioption-button-active-color: var(--uioption-button-disabled-color);
}
.ui-button.ui-disabled-status .ui-button-main {
  cursor: no-drop;
}
.ui-button.ui-readonly-status {
  --uioption-button-color: var(--uioption-button-readonly-color);
  --uioption-button-font-color: var(--uicolor-font-3);
  --uioption-button-active-color: var(--uioption-button-readonly-color);
}
.ui-button.ui-readonly-status .ui-button-main {
  cursor: auto;
}
.ui-button.ui-button-simple.ui-disabled-status {
  --uioption-button-color: var(--uioption-button-readonly-color);
  --uioption-button-font-color: var(--uicolor-font-3);
}
.ui-button.ui-button-simple.ui-disabled-status .ui-button-main,
.ui-button.ui-button-simple.ui-readonly-status .ui-button-main {
  background-color: var(--uioption-button-color);
  border-color: var(--uioption-button-color);
  color: var(--uioption-button-font-color);
}
.ui-message {
  --uioption-message-radius: var(--uisize-radius);
  --uioption-message-spacing-x: var(--uisize-spacing-x);
  --uioption-message-spacing-y: calc(var(--uisize-spacing-y) / 2);
  --uioption-message-icon-color: var(--uicolor-main-color);
  --uioption-message-box-shadow: var(--uicolor-box-shadow);
  --uioption-message-background-color: var(--uicolor-main-color-005);
}
.ui-message {
  display: flex;
  padding: var(--uioption-message-spacing-y) var(--uioption-message-spacing-x);
  transition: all 0.3s;
  box-shadow: var(--uioption-message-box-shadow);
  align-items: center;
  border-radius: var(--uioption-message-radius);
  background-color: var(--uioption-message-background-color);
}
.ui-message .ui-message-icon {
  color: #fff;
  font-size: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--uioption-message-icon-color);
}
.ui-message.v-enter-from,
.ui-message.v-leave-to {
  opacity: 0;
  transform: translateY(0) !important;
}
.ui-message.v-enter-to,
.ui-message.v-leave-from {
  opacity: 1;
}
.ui-message.ui-error-type {
  --uioption-message-icon-color: var(--uicolor-error);
  --uioption-message-background-color: var(--uicolor-error-005);
}
.ui-message.ui-warning-type {
  --uioption-message-icon-color: var(--uicolor-warning);
  --uioption-message-background-color: var(--uicolor-warning-005);
}
.ui-message.ui-success-type {
  --uioption-message-icon-color: var(--uicolor-success);
  --uioption-message-background-color: var(--uicolor-success-005);
}
.ui-tooltip-container {
  --uioption-tooltip-radius: var(--uisize-radius);
  --uioption-tooltip-spacing-x: var(--uisize-spacing-x);
  --uioption-tooltip-spacing-y: calc(var(--uisize-spacing-y) / 2);
  --uioption-tooltip-box-shadow: var(--uicolor-box-shadow);
  --uioption-tooltip-background-color: var(--uicolor-font-6);
}
.ui-tooltip-container {
  background-color: var(--uioption-tooltip-background-color);
  border-radius: var(--uioption-tooltip-radius);
  white-space: nowrap;
  transition: opacity 0.2s;
  box-shadow: var(--uioption-tooltip-box-shadow);
  position: absolute;
  padding: var(--uioption-tooltip-spacing-y) var(--uioption-tooltip-spacing-x);
  inset: 0 auto auto 0;
}
.ui-tooltip-container.v-enter-from,
.ui-tooltip-container.v-leave-to {
  opacity: 0;
}
.ui-tooltip-container.v-enter-to,
.ui-tooltip-container.v-leave-from {
  opacity: 1;
}
.ui-tooltip-container .ui-tooltip-triangle {
  position: absolute;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent var(--uioption-tooltip-background-color);
}
.ui-tooltip {
  vertical-align: top;
  display: inline-block;
}
.ui-scrollbar {
  position: relative;
}
.ui-scrollbar .ui-scrollbar-content {
  float: left;
  min-width: 100%;
}
.ui-form-item > .ui-form-container {
  position: relative;
}
.ui-form-item > .ui-form-container > .ui-form-message {
  transition: all 0.2s;
  transform: translateY(100%);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  color: var(--uioption-form-message-color);
  left: 0;
}
.ui-form-item > .ui-form-container > .ui-form-message.v-enter-from,
.ui-form-item > .ui-form-container > .ui-form-message.v-leave-to {
  opacity: 0;
  transform: translateY(50%);
}
.ui-form-item > .ui-form-container > .ui-form-message.v-enter-to,
.ui-form-item > .ui-form-container > .ui-form-message.v-leave-from {
  opacity: 1;
  transform: translateY(100%);
}
.ui-form-item.ui-form-row {
  display: flex;
  align-items: center;
}
.ui-form-item.ui-form-row > .ui-form-name {
  margin: 0 8px 0 0;
}
.ui-form-item.ui-form-column > .ui-form-name {
  margin: 0 0 8px;
}
.ui-input {
  width: 264px;
  display: inline-block;
  position: relative;
}
.ui-input .ui-mask {
  font-size: 20px;
}
.ui-input .ui-form-control::placeholder {
  color: var(--uioption-form-placeholder-color);
}
.ui-input .ui-form-control:focus::placeholder {
  color: transparent;
}
.ui-input.ui-clearable .ui-form-control {
  padding: 0 32px 0 var(--uioption-form-spacing-x);
}
.ui-input.ui-disabled-status .ui-form-control {
  cursor: not-allowed;
}
.ui-input.ui-readonly-status .ui-form-control:focus::placeholder {
  color: var(--uioption-form-placeholder-color);
}
.ui-select {
  display: inline-block;
  position: relative;
}
.ui-select .ui-mask {
  font-size: 20px;
}
.ui-select .ui-form-control {
  cursor: pointer;
  padding-right: calc(var(--uioption-form-spacing-x) + 24px);
}
.ui-select .ui-form-control::placeholder {
  color: var(--uioption-form-placeholder-color);
}
.ui-select .ui-form-control:focus::placeholder {
  color: var(--uioption-form-placeholder-color);
}
.ui-select .ui-select-arrow {
  inset: 50% var(--uioption-form-spacing-x) auto auto;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.ui-select .ui-form-clearable {
  inset: 50% calc(var(--uioption-form-spacing-x) + 20px) auto auto;
}
.ui-select.ui-candidates-show .ui-select-arrow {
  transform: translate(0, -50%) rotate(180deg);
}
.ui-select.ui-disabled-status .ui-form-control,
.ui-select.ui-disabled-status .ui-select-arrow {
  cursor: not-allowed;
}
.ui-select.ui-readonly-status .ui-form-control,
.ui-select.ui-readonly-status .ui-select-arrow {
  cursor: text;
}
.ui-checkbox {
  --uioption-checkbox-border-color: var(--uicolor-font-4);
  --uioption-checkbox-background-color: var(--uicolor-font-6);
  --uioption-checkbox-active-border-color: var(--uicolor-main-color);
  --uioption-checkbox-active-background-color: var(--uicolor-main-color);
  --uioption-checkbox-disabled-border-color: var(--uicolor-font-4);
  --uioption-checkbox-disabled-background-color: var(--uicolor-font-4);
}
.ui-checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}
.ui-checkbox > .ui-checkbox-control {
  width: 20px;
  height: 20px;
  border: 1px solid var(--uioption-checkbox-border-color);
  position: relative;
  transition: all 0.3s;
  border-radius: 2px;
  background-color: var(--uioption-checkbox-background-color);
}
.ui-checkbox > .ui-checkbox-control .ui-checkbox-input {
  width: 0;
  height: 0;
}
.ui-checkbox > .ui-checkbox-control .ui-checkbox-icon {
  transition: all 0.3s;
  font-size: 20px;
  position: absolute;
  opacity: 0;
  color: #fff;
  inset: -1px auto auto -1px;
}
.ui-checkbox > .ui-checkbox-content {
  margin: 0 0 0 8px;
}
.ui-checkbox.ui-active > .ui-checkbox-control {
  border-color: var(--uioption-checkbox-active-border-color);
  background-color: var(--uioption-checkbox-active-background-color);
}
.ui-checkbox.ui-active > .ui-checkbox-control .ui-checkbox-icon {
  opacity: 1;
}
.ui-checkbox.ui-disabled-status {
  cursor: no-drop;
}
.ui-checkbox.ui-disabled-status > .ui-checkbox-control {
  border-color: var(--uioption-checkbox-disabled-border-color);
  background-color: var(--uioption-checkbox-disabled-background-color);
}
.ui-scope-input {
  background: #000;
}
.ui-scope-input .ui-scope-input-control::placeholder {
  color: #d84848;
}
.ui-scope-input .ui-scope-input-control:focus::placeholder {
  color: transparent;
}
.ui-carousel {
  --uioption-carousel-indicator-color: var(--uicolor-font-2);
  --uioption-carousel-control-icon-color: var(--uicolor-font-6);
  --uioption-carousel-control-border-color: var(--uicolor-font-6);
  --uioption-carousel-control-background-color: var(--uicolor-font-6-03);
  --uioption-carousel-indicator-active-color: var(--uicolor-main-color);
  --uioption-carousel-control-active-icon-color: var(--uicolor-main-color);
  --uioption-carousel-control-active-border-color: var(--uicolor-font-6);
  --uioption-carousel-control-active-background-color: var(--uicolor-font-6);
}
.ui-carousel {
  overflow: hidden;
  position: relative;
}
.ui-carousel > .ui-carousel-container {
  position: relative;
}
.ui-carousel > .ui-carousel-container .ui-carousel-auxiliary {
  position: absolute;
}
.ui-carousel > .ui-carousel-container .ui-carousel-header-auxiliary {
  inset: 0 auto auto 0;
  transform: translate3d(-100%, 0, 0);
}
.ui-carousel > .ui-carousel-container .ui-carousel-footer-auxiliary {
  inset: 0 0 auto auto;
  transform: translate3d(100%, 0, 0);
}
.ui-carousel > .ui-carousel-control {
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background: var(--uioption-carousel-control-background-color);
  transition: all 0.3s ease-in-out;
  transform: translate(0, -50%);
  font-size: 20px;
  position: absolute;
  display: flex;
  opacity: 0;
  border: 1px solid var(--uioption-carousel-control-border-color);
  cursor: pointer;
  height: 48px;
  color: var(--uioption-carousel-control-icon-color);
  width: 48px;
}
.ui-carousel > .ui-carousel-control.ui-carousel-left-control {
  inset: 50% auto auto 0;
}
.ui-carousel > .ui-carousel-control.ui-carousel-left-control .ui-icon {
  transform: rotate(90deg);
}
.ui-carousel > .ui-carousel-control.ui-carousel-right-control {
  inset: 50% 0 auto auto;
}
.ui-carousel > .ui-carousel-control.ui-carousel-right-control .ui-icon {
  transform: rotate(-90deg);
}
.ui-carousel > .ui-carousel-schedules {
  align-items: center;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  inset: auto auto 20px 50%;
}
.ui-carousel > .ui-carousel-schedules .ui-carousel-schedule {
  width: 4px;
  height: 5px;
  margin: 0 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 9999px;
  background-color: var(--uioption-carousel-indicator-color);
}
.ui-carousel > .ui-carousel-schedules .ui-carousel-schedule.active {
  width: 72px;
  background-color: var(--uioption-carousel-indicator-active-color);
}
.ui-carousel.ui-default-carousel .ui-carousel-container {
  width: 100%;
  height: 100%;
}
.ui-carousel.ui-default-carousel .ui-carousel-container > * {
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.ui-carousel.ui-multiple-view-carousel .ui-carousel-container {
  height: 100%;
  display: inline-flex;
}
.ui-carousel:hover > .ui-carousel-control {
  opacity: 1;
}
.ui-carousel:hover > .ui-carousel-control.ui-carousel-left-control {
  transform: translate(100%, -50%);
}
.ui-carousel:hover > .ui-carousel-control.ui-carousel-right-control {
  transform: translate(-100%, -50%);
}
.ui-carousel:hover > .ui-carousel-control:hover {
  color: var(--uioption-carousel-control-active-icon-color);
  border-color: var(--uioption-carousel-control-active-border-color);
  background-color: var(--uioption-carousel-control-active-background-color);
}
.ui-seamless-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.ui-seamless-scroll .ui-seamless-scroll-container {
  height: 100%;
}
.ui-seamless-scroll .ui-seamless-scroll-container .ui-seamless-scroll-content {
  position: absolute;
  display: flex;
}
.ui-seamless-scroll .ui-seamless-scroll-container .ui-seamless-scroll-copy-content {
  transform: translateX(100%);
}
.ui-pagination {
  --uioption-pagination-color: var(--uioption-font-color);
  --uioption-pagination-radius: var(--uisize-radius);
  --uioption-pagination-background-color: var(--uicolor-font-5);
  --uioption-pagination-active-color: var(--uicolor-font-6);
  --uioption-pagination-active-background-color: var(--uicolor-main-color);
}
.ui-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ui-pagination .ui-pagination-controls {
  display: flex;
  user-select: none;
  align-items: center;
}
.ui-pagination .ui-pagination-controls .ui-pagination-control {
  width: 40px;
  color: var(--uioption-pagination-color);
  height: 40px;
  margin: 0 4px;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: all 0.3s;
  align-items: center;
  border-radius: var(--uioption-pagination-radius);
  justify-content: center;
  background-color: var(--uioption-pagination-background-color);
}
.ui-pagination .ui-pagination-controls .ui-pagination-control:hover,
.ui-pagination .ui-pagination-controls .ui-pagination-control.ui-active {
  color: var(--uioption-pagination-active-color);
  background-color: var(--uioption-pagination-active-background-color);
}
.ui-pagination .ui-pagination-controls .ui-pagination-next {
  transform: rotate(90deg);
}
.ui-pagination .ui-pagination-controls .ui-pagination-back {
  transform: rotate(-90deg);
}
.ui-textarea {
  --uioption-textarea-spacing-x: var(--uisize-spacing-x);
  --uioption-textarea-spacing-y: var(--uisize-spacing-y);
  --uioption-textarea-line-height: 24px;
}
.ui-textarea {
  position: relative;
}
.ui-textarea > .ui-form-control {
  resize: none;
  height: auto;
  display: block;
  padding: var(--uioption-textarea-spacing-y) var(--uioption-textarea-spacing-x);
  overflow: hidden;
  line-height: var(--uioption-textarea-line-height);
}
.ui-textarea > .ui-form-control::placeholder {
  color: var(--uioption-form-placeholder-color);
}
.ui-textarea > .ui-form-control:focus::placeholder {
  color: transparent;
}
.ui-textarea > .ui-scrollbar-container {
  inset: 1px 1px 1px auto;
}
.ui-textarea.ui-disabled-status > .ui-form-control {
  cursor: not-allowed;
}
.ui-textarea.ui-readonly-status > .ui-form-control:focus::placeholder {
  color: var(--uioption-form-placeholder-color);
}
.ui-modal {
  --uioption-modal-radius: var(--uisize-radius);
  --uioption-modal-icon-color: var(--uicolor-font-2);
  --uioption-modal-box-shadow: var(--uicolor-box-shadow);
  --uioption-modal-background-color: var(--uicolor-font-6);
  --uioption-modal-active-icon-color: var(--uicolor-main-color);
}
.ui-modal {
  padding: 80px 0;
  position: fixed;
  overflow-y: auto;
  background-color: var(--uicolor-full-mask);
}
.ui-modal > .ui-modal-container {
  position: relative;
  transition: margin-top 0.5s;
  box-shadow: var(--uioption-modal-box-shadow);
  border-radius: var(--uioption-modal-radius);
  background-color: var(--uioption-modal-background-color);
}
.ui-modal > .ui-modal-container > .ui-modal-header {
  line-height: 40px;
  font-weight: bold;
  font-size: 32px;
  position: relative;
  margin: 0 0 28px;
}
.ui-modal > .ui-modal-container > .ui-modal-close {
  transition: all 0.3s;
  font-size: 48px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  color: var(--uioption-modal-icon-color);
  top: 20px;
}
.ui-modal > .ui-modal-container > .ui-modal-close:hover {
  color: var(--uioption-modal-active-icon-color);
}
.ui-modal.v-enter-from > .ui-modal-container,
.ui-modal.v-leave-to > .ui-modal-container {
  margin-top: -40px;
}
.ui-modal.v-enter-to > .ui-modal-container,
.ui-modal.v-leave-from > .ui-modal-container {
  margin-top: 0;
}
