@import "./variable.module.less";
@import "./header.module.less";
@import "./body.module.less";

.ui-table {
    overflow-x: auto;
    .ui-table-column {
        &:last-child {
            padding-right: 0 !important;
        }

        &:first-child {
            padding-left: 0 !important;
        }
    }
}
