//* css变量
.ui-modal {
    // 弹出框组件配置
    --uioption-modal-radius: var(--uisize-radius); // 默认弹出框圆角效果
    --uioption-modal-icon-color: var(--uicolor-font-2); // 默认关闭图标颜色
    --uioption-modal-box-shadow: var(--uicolor-box-shadow); // 默认弹出框阴影效果
    --uioption-modal-background-color: var(--uicolor-font-6); // 默认弹出框背景颜色

    // 弹出框组件激活配hi
    --uioption-modal-active-icon-color: var(--uicolor-main-color); // 默认关闭图标颜色
}

//* 弹出框样式
.ui-modal {
    padding: 80px 0;
    position: fixed;
    overflow-y: auto;
    background-color: var(--uicolor-full-mask);
    > .ui-modal-container {
        position: relative;
        transition: margin-top 0.5s;
        box-shadow: var(--uioption-modal-box-shadow);
        border-radius: var(--uioption-modal-radius);
        background-color: var(--uioption-modal-background-color);
        > .ui-modal-header {
            line-height: 40px;
            font-weight: bold;
            font-size: 32px;
            position: relative;
            margin: 0 0 28px;
        }

        > .ui-modal-close {
            transition: all 0.3s;
            font-size: 48px;
            position: absolute;
            cursor: pointer;
            right: 20px;
            color: var(--uioption-modal-icon-color);
            top: 20px;
            &:hover {
                color: var(--uioption-modal-active-icon-color);
            }
        }
    }
}

//* 弹出框过渡样式
.ui-modal.v-enter-from,
.ui-modal.v-leave-to {
    > .ui-modal-container {
        margin-top: -40px;
    }
}

//* 弹出框过渡样式
.ui-modal.v-enter-to,
.ui-modal.v-leave-from {
    > .ui-modal-container {
        margin-top: 0;
    }
}
