:root {
    // 主色
    --ui-main-color: rgb(84, 73, 219);
    --ui-main-color-005: rgba(84, 73, 219, 0.05); // 主色的5%透明度
    --ui-main-active-color: rgb(83, 100, 230); // 主色的激活色

    // 辅助色
    --uic-disabled: rgb(245, 245, 245); // 禁用色
    --uic-auxiliary: rgb(227, 227, 227); // 常规辅助色
    --uic-auxiliary-active: rgb(199, 199, 199); // 常规辅助激活色
    --uic-font-1: rgb(64, 64, 64); // 标题文本色
    --uic-font-2: rgb(132, 132, 132); // 默认文本色
    --uic-font-3: rgb(153, 153, 153); // 降级文本色

    // 错误颜色
    --ui-error: rgb(207, 36, 36);
    --ui-error-005: rgb(254, 244, 244);
    --ui-error-active: rgb(209, 62, 62); // 激活色

    // 成功颜色
    --ui-success: rgb(0, 177, 55);
    --ui-success-005: rgb(242, 251, 245);
    --ui-success-active: rgb(19, 179, 69); // 激活色

    // 警告颜色
    --ui-warning: rgb(255, 156, 0);
    --ui-warning-005: rgb(255, 250, 242);
    --ui-warning-active: rgb(250, 165, 28); // 激活色

    // 半透明遮罩
    --ui-mask-deep: fade(rgb(255, 255, 255), 80%);
    // 不透明遮罩
    --ui-mask-opaque: rgb(255, 255, 255);

    // 阴影效果
    --ui-box-shadow: 0px 4px 8px 0px rgba(105, 1, 98, 0.05);
    --ui-box-border: rgba(277, 277, 277, 0.3);

    // 图标配置
    --ui-icon-color: var(--uic-auxiliary); // 默认图标颜色
    --ui-icon-active-color: var(--ui-main-color); // 默认图标激活颜色

    // 按钮组件配置
    --ui-button-size: auto; // 默认按钮最小尺寸

    // 滚动条组件配置
    --ui-scrollbar-color: var(--uic-auxiliary); // 默认滚动条滑块颜色
    --ui-scrollbar-active-color: var(--uic-auxiliary-active); // 默认滚动条滑块激活颜色

    // 表单配置
    --ui-form-placeholder-color: var(--uic-auxiliary); // 默认提示文本颜色
    --ui-form-candidate-color: var(--ui-main-color-005); // 候选项背景色
    --ui-form-message-color: var(--ui-font-color); // 默认校验提示文本颜色
    --ui-form-color: #fff; // 默认表单背景颜色

    // 常规主题色配置
    --ui-topic-color: var(--ui-main-color); // 主题色
    --ui-topic-active-color: var(--ui-main-active-color); // 主题激活色
    --ui-subtopic-color: var(--ui-main-color-005); // 副主题色

    // 常规边框配置
    --ui-border-color: var(--uic-auxiliary); // 默认边框颜色
    --ui-border-active-color: var(--ui-main-color); // 默认边框激活颜色

    // 常规字体配置
    --ui-font-active-color: var(--ui-main-color); // 默认文本激活颜色
    --ui-font-color: var(--uic-font-2); // 默认文字颜色
    --ui-font-line: 22px; // 默认字体行高
    --ui-font-size: 14px; // 默认字体大小

    // 其他常规配置
    --ui-spacing: 16px; // 默认间距
    --ui-radius: 4px; // 默认圆角
    --ui-size: 40px; // 默认尺寸

    @import "./size.less";
    @import "./type.less";
    @import "./status.less";
}
