// 中尺寸
.ui-middle {
    --ui-size: 48px;
    --ui-button-size: 88px;
}

// 大尺寸
.ui-large {
    --ui-size: 56px;
    --ui-button-size: 144px;
}

// 小尺寸
.ui-small {
    --ui-size: 32px;
    --ui-font-size: 12px;
}
