// 中尺寸
.ui-middle {
    // 公共
    --uis-size: 48px;

    // 按钮
    --uioption-button-width: 88px;
}

// 大尺寸
.ui-large {
    // 公共
    --uis-size: 56px;

    // 按钮
    --uioption-button-width: 144px;
}

// 小尺寸
.ui-small {
    // 公共
    --uis-size: 32px;
    --uis-font-size: 12px;
}
