.ui-disabled-status {
    --ui-form-color: var(--uis-color-2);
    --ui-border-color: var(--uis-color-2);
    --ui-border-active-color: var(--uis-color-2);
}

.ui-readonly-status {
    --ui-form-color: var(--uis-color-2);
    --ui-border-color: var(--uis-color-2);
    --ui-border-active-color: var(--uis-color-2);
}
