.ui-disabled-status {
    --ui-form-color: var(--uic-font-4);
    --ui-border-color: var(--uic-font-4);
    --ui-border-active-color: var(--uic-font-4);

    // 按钮
    --uioption-button-color: var(--uioption-button-disabled-color); // 按钮颜色
    --uioption-button-active-color: var(--uioption-button-disabled-color); // 按钮触发颜色
}

.ui-readonly-status {
    --ui-form-color: var(--uic-font-4);
    --ui-border-color: var(--uic-font-4);
    --ui-border-active-color: var(--uic-font-4);

    // 按钮
    --uioption-button-color: var(--uioption-button-readonly-color); // 按钮颜色
    --uioption-button-font-color: var(--uic-font-3); // 按钮字体颜色
    --uioption-button-active-color: var(--uioption-button-readonly-color); // 按钮触发颜色
}

.ui-loading-status {
    --ui-form-color: var(--uic-font-4);
    --ui-border-color: var(--uic-font-4);
    --ui-border-active-color: var(--uic-font-4);
}
