.ui-info-type {
    --ui-topic-color: var(--uic-main-color);
    --ui-subtopic-color: var(--uic-main-color-005);
}

.ui-error-type {
    --ui-topic-color: var(--uic-error);
    --ui-border-color: var(--uic-error);
    --ui-subtopic-color: var(--uic-error-005);
    --ui-form-message-color: var(--uic-error);
    --ui-topic-active-color: var(--uic-error-active);
    --ui-border-active-color: var(--uic-error);

    // 按钮
    --uioption-button-color: var(--uic-error); // 默认按钮颜色
    --uioption-button-active-color: var(--uic-error-active); // 默认按钮禁用颜色
    --uioption-button-disabled-color: var(--uic-error-05); // 默认按钮禁用颜色
}

.ui-warning-type {
    --ui-topic-color: var(--uic-warning);
    --ui-border-color: var(--uic-warning);
    --ui-subtopic-color: var(--uic-warning-005);
    --ui-form-message-color: var(--uic-warning);
    --ui-topic-active-color: var(--uic-warning-active);
    --ui-border-active-color: var(--uic-warning);

    // 按钮
    --uioption-button-color: var(--uic-warning); // 默认按钮颜色
    --uioption-button-active-color: var(--uic-warning-active); // 默认按钮禁用颜色
    --uioption-button-disabled-color: var(--uic-warning-05); // 默认按钮禁用颜色
}

.ui-success-type {
    --ui-topic-color: var(--uic-success);
    --ui-border-color: var(--uic-success);
    --ui-subtopic-color: var(--uic-success-005);
    --ui-form-message-color: var(--uic-success);
    --ui-topic-active-color: var(--uic-success-active);
    --ui-border-active-color: var(--uic-success);

    // 按钮
    --uioption-button-color: var(--uic-success); // 默认按钮颜色
    --uioption-button-active-color: var(--uic-success-active); // 默认按钮禁用颜色
    --uioption-button-disabled-color: var(--uic-success-05); // 默认按钮禁用颜色
}
