//* 消息提示容器
#ui-messages {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6666;
    display: flex;
    position: absolute;
    flex-direction: column;
}

//* 定位样式
.ui-relative {
    position: relative;
    z-index: 1;
}

@import "./form.less";
@import "./mask.less";
@import "./loading.less";
@import "./tooltip.less";
@import "./scrollbar.less";
