@font-face {
  font-family: "ui-icon"; /* Project id 3276931 */
  src: url('iconfont.woff2?t=1675846467214') format('woff2'),
       url('iconfont.woff?t=1675846467214') format('woff'),
       url('iconfont.ttf?t=1675846467214') format('truetype');
}

.ui-icon {
  font-family: "ui-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-success:before {
  content: "\e616";
}

.icon-warning:before {
  content: "\e630";
}

.icon-close:before {
  content: "\e608";
}

.icon-arrow:before {
  content: "\e60b";
}

.icon-arrowbold:before {
  content: "\e60c";
}

.icon-error:before {
  content: "\e607";
}

.icon-loading:before {
  content: "\e60a";
}

